.tags__topics {
    margin-top: 64px;
    border-bottom: 1px solid #E5E5E5;
    clear: both;
}
.latest__news__page__title.tags__topics__title {
    font-size: 24px;
    display: block;
    margin-bottom: 0;
}
.tags__topics__title{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #262626;
    display: flex;
    align-items: center;
    margin: 0;
}

.tags__topics__content{
    display: flex;
}
.tags__topics .book-open{
    margin: 0 4px 0 0;
    width: 32px;    
    height: auto;
}
.tags__list {
    list-style: none;
    margin-bottom: 24px;
    margin-top: 22px;
}
.tags__list__item {
    border: 1px solid #8C8C8C;
    border-radius: 3px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}
.tags__list__item a {
    color: #4d4d4d;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding: 1px 11px 0;
}
@media (max-width: 991px){
    .tags__topics{
        margin-top: 48px;
        border-bottom: none
    }
    .post__content ul.tags__list {
		list-style: none;
		margin: 20px 0 16px;
	}
    .tags__list__item {
        margin-bottom: 8px;
        margin-right: 8px
    }
}