.cnn_audience_interaction .audience_container {
    display: flex;
    align-items: center;
}

.cnn_audience_interaction .audience_container h3 {
    font-size: 18px;
    font-family: 'CNN Sans Condensed Medium', sans-serif;
    padding-right: 10px;
}

.cnn_audience_interaction .audience_buttons {
    display: flex;
}

.cnn_audience_interaction .audience_buttons button {
    width: 32px;
    height: 32px;
    border: 1px #D0D0D0 solid;
    border-radius: 4px;
    background: #FFF;
    margin: 0 3px;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all .2s;
}

.cnn_audience_interaction .audience_buttons button:hover {
    border: 1px #c00 solid;
}

.cnn_audience_interaction .audience_buttons .like {
    background-image: url("../../img/like.svg");
}

.cnn_audience_interaction .audience_buttons .like.active {
    background-color: #c00;
    border: 1px #c00 solid;
    background-image: url("../../img/like-white.svg");
    background-repeat: no-repeat;
    background-position: center center;
}

.cnn_audience_interaction .audience_buttons .deslike {
    background-image: url("../../img/deslike.svg");
}
.cnn_audience_interaction .audience_buttons .deslike.active {
    background-image: url("../../img/deslike-white.svg");
    background-color: #c00;
    border: 1px #c00 solid;
    background-repeat: no-repeat;
    background-position: center center;
}
