/************
    Global
************/
:root {
    --clr-cnn: #CC0000;
    --clr-cnn-grey-2: #8C8C8C;
    --clr-cnn-grey-3: #464646;
    --clr-cnn-grey-4: #282828;
    --clr-nacional: #489624;
    --clr-pop: #FF007A;
    --clr-entretenimento: #FF007A;
    --clr-esporte: #FF5C00;
    --clr-internacional: #FFB800;
    --clr-business: #3DBC9E;
    --clr-saude: #16C5D0;
    --clr-tecnologia: #1770C6;
    --clr-estilo: #8F4EF9;
    --clr-viagem: #AE2EE7;
    --clr-politica: #3D4953;
    --clr-soft: #8397A1;
}

section.block__type--block {
    margin-bottom: 72px;
}

/************
    Sections Title
************/
.home__category {
    font-weight: 700;
    color: #000;
    display: flex;
    overflow: hidden;
    padding: 0;
    margin: 0 0 33px 21px;
    background-color: transparent;
    white-space: nowrap;
}

h1.home__category{
    line-height: 32px;
}

h2.home__category {
    font-size: 26px;
    line-height: 32px;
}

.home__category::before {
    content: "";
    min-width: 14px;
    height: 14px;
    margin-right: 8px;
    align-self: baseline;
    background-color: var(--clr-cnn);
    position: absolute;
    top: 11px;
    margin-left: -21px;
}

.home__category::after {
    content: "";
    min-width: 100%;
    height: 6px;
    margin-left: 8px;
    align-self: center;
    background: linear-gradient(180deg, var(--clr-cnn) calc(100% / 3), #fafafa00 calc(100% / 3), #fafafa00 66%, var(--clr-cnn) calc(100% / 3));
}

@media(max-width: 768px){
    .home__category {
        display: inline-block;
        overflow: hidden;
        padding-right: 7px;
        white-space: unset;
        margin:0 0 33px 21px;
    }

    .home__category::after {
        min-width: 20%;
        align-self: baseline;
        position: absolute;
        top: 15px;
        max-width: 80%;
        width: 80%;
        z-index: -1;
        right: 16px;
    }

    .home__category::first-line{
        box-shadow: 7px 0 0px 0px #fafafa;
        background-color: #fafafa;
    }

    .wrapper--sidebar .home__category::after {
        right: 0;
    }

    .cnn .home__title__label {
        min-height: 24px;
    }

}
.block_tag {
    color:var(--clr-cnn);
    text-transform: uppercase;
    font-size:14px;
    font-weight: 500;
}

/************
    Branded Tag Global
************/
.branded__tag {
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    background: var(--clr-cnn);
    font-size: 14px;
    padding: 5px 8px;
    border-radius: 2px;
    display: table;
}


/* colors by section - title squares */
.cnn .home__category::before {
    background-color: var(--clr-cnn);
}
.nacional .home__category::before {
    background-color: var(--clr-nacional);
}

.pop .home__category::before {
    background-color: var(--clr-pop);
}

.entretenimento .home__category::before {
    background-color: var(--clr-entretenimento);
}

.esporte .home__category::before {
    background-color: var(--clr-esporte);
}

.internacional .home__category::before {
    background-color: var(--clr-internacional);
}

.business .home__category::before {
    background-color: var(--clr-business);
}

.saude .home__category::before {
    background-color: var(--clr-saude);
}

.tecnologia .home__category::before {
    background-color: var(--clr-tecnologia);
}

.estilo .home__category::before {
    background-color: var(--clr-estilo);
}

.viagem .home__category::before {
    background-color: var(--clr-viagem);
}

.politica .home__category::before {
    background-color: var(--clr-politica);
}

.soft .home__category::before {
    background-color: var(--clr-soft);
}

/* title stripes */
.cnn .home__category::after {
    background: linear-gradient(180deg, var(--clr-cnn) calc(100% / 3), #fafafa00 calc(100% / 3), #fafafa00 66%, var(--clr-cnn) calc(100% / 3));
}

.nacional .home__category::after {
    background: linear-gradient(180deg, var(--clr-nacional) calc(100% / 3), #fafafa00 calc(100% / 3), #fafafa00 66%, var(--clr-nacional) calc(100% / 3));
}

.pop .home__category::after {
    background: linear-gradient(180deg, var(--clr-pop) calc(100% / 3), #fafafa00 calc(100% / 3), #fafafa00 66%, var(--clr-pop) calc(100% / 3));
}

.entretenimento .home__category::after {
    background: linear-gradient(180deg, var(--clr-entretenimento) calc(100% / 3), #fafafa00 calc(100% / 3), #fafafa00 66%, var(--clr-entretenimento) calc(100% / 3));
}

.esporte .home__category::after {
    background: linear-gradient(180deg, var(--clr-esporte) calc(100% / 3), #fafafa00 calc(100% / 3), #fafafa00 66%, var(--clr-esporte) calc(100% / 3));
}

.internacional .home__category::after {
    background: linear-gradient(180deg, var(--clr-internacional) calc(100% / 3), #fafafa00 calc(100% / 3), #fafafa00 66%, var(--clr-internacional) calc(100% / 3));
}

.business .home__category::after {
    background: linear-gradient(180deg, var(--clr-business) calc(100% / 3), #fafafa00 calc(100% / 3), #fafafa00 66%, var(--clr-business) calc(100% / 3));
}

.saude .home__category::after {
    background: linear-gradient(180deg, var(--clr-saude) calc(100% / 3), #fafafa00 calc(100% / 3), #fafafa00 66%, var(--clr-saude) calc(100% / 3));
}

.tecnologia .home__category::after {
    background: linear-gradient(180deg, var(--clr-tecnologia) calc(100% / 3), #fafafa00 calc(100% / 3), #fafafa00 66%, var(--clr-tecnologia) calc(100% / 3));
}

.estilo .home__category::after {
    background: linear-gradient(180deg, var(--clr-estilo) calc(100% / 3), #fafafa00 calc(100% / 3), #fafafa00 66%, var(--clr-estilo) calc(100% / 3));
}

.viagem .home__category::after {
    background: linear-gradient(180deg, var(--clr-viagem) calc(100% / 3), #fafafa00 calc(100% / 3), #fafafa00 66%, var(--clr-viagem) calc(100% / 3));
}

.politica .home__category::after {
    background: linear-gradient(180deg, var(--clr-politica) calc(100% / 3), #fafafa00 calc(100% / 3), #fafafa00 66%, var(--clr-politica) calc(100% / 3));
}

.soft .home__category::after {
    background: linear-gradient(180deg, var(--clr-soft) calc(100% / 3), #fafafa00 calc(100% / 3), #fafafa00 66%, var(--clr-soft) calc(100% / 3));
}

/* chapeu stripes */
.cnn .home__title__label {
    color: var(--clr-cnn) !important;
    min-height: 30px;
    display: flex;
    align-items: center;
    min-width: 100%;
    justify-content: flex-start;
}

.cnn .headline__primary_list li a:after,
.cnn .headline__primary_list li a:before,
.cnn .breakNews,
.cnn .breakNews:after,
.cnn .breakNews:before  {
    border-color: var(--clr-cnn) !important;
}
.nacional .home__title__label {
    color: var(--clr-nacional) !important;
}

.nacional .headline__primary_list li a:after,
.nacional .headline__primary_list li a:before,
.nacional .breakNews,
.nacional .breakNews:after,
.nacional .breakNews:before  {
    border-color: var(--clr-nacional) !important;
}
.pop .home__title__label {
    color: var(--clr-pop) !important;
}

.entretenimento .home__title__label {
    color: var(--clr-entretenimento) !important;
}

.pop .headline__primary_list li a:after,
.pop .headline__primary_list li a:before,
.pop .breakNews,
.pop .breakNews:after,
.pop .breakNews:before  {
    border-color: var(--clr-pop) !important;
}
.entretenimento .headline__primary_list li a:after,
.entretenimento .headline__primary_list li a:before,
.entretenimento .breakNews,
.entretenimento .breakNews:after,
.entretenimento .breakNews:before  {
    border-color: var(--clr-entretenimento) !important;
}
.esporte .home__title__label {
    color: var(--clr-esporte) !important;
}

.esporte .headline__primary_list li a:after,
.esporte .headline__primary_list li a:before,
.esporte .breakNews,
.esporte .breakNews:after,
.esporte .breakNews:before  {
    border-color: var(--clr-esporte) !important;
}
.internacional .home__title__label {
    color: var(--clr-internacional) !important;
}

.internacional .headline__primary_list li a:after,
.internacional .headline__primary_list li a:before,
.internacional .breakNews,
.internacional .breakNews:after,
.internacional .breakNews:before  {
    border-color: var(--clr-internacional) !important;
}
.business .home__title__label {
    color: var(--clr-business) !important;
}

.business .headline__primary_list li a:after,
.business .headline__primary_list li a:before,
.business .breakNews,
.business .breakNews:after,
.business .breakNews:before  {
    border-color: var(--clr-business) !important;
}
.saude .home__title__label {
    color: var(--clr-saude) !important;
}

.saude .headline__primary_list li a:after,
.saude .headline__primary_list li a:before,
.saude .breakNews,
.saude .breakNews:after,
.saude .breakNews:before  {
    border-color: var(--clr-saude) !important;
}
.tecnologia .home__title__label {
    color: var(--clr-tecnologia) !important;
}

.tecnologia .headline__primary_list li a:after,
.tecnologia .headline__primary_list li a:before,
.tecnologia .breakNews,
.tecnologia .breakNews:after,
.tecnologia .breakNews:before  {
    border-color: var(--clr-tecnologia) !important;
}
.estilo .home__title__label {
    color: var(--clr-estilo) !important;
}

.estilo .headline__primary_list li a:after,
.estilo .headline__primary_list li a:before,
.estilo .breakNews,
.estilo .breakNews:after,
.estilo .breakNews:before  {
    border-color: var(--clr-estilo) !important;
}
.viagem .home__title__label {
    color: var(--clr-viagem) !important;
}

.viagem .headline__primary_list li a:after,
.viagem .headline__primary_list li a:before,
.viagem .breakNews,
.viagem .breakNews:after,
.viagem .breakNews:before  {
    border-color: var(--clr-viagem) !important;
}
.politica .home__title__label {
    color: var(--clr-politica) !important;
}

.politica .headline__primary_list li a:after,
.politica .headline__primary_list li a:before,
.politica .breakNews,
.politica .breakNews:after,
.politica .breakNews:before  {
    border-color: var(--clr-politica) !important;
}
.soft .home__title__label {
    color: var(--clr-soft) !important;
}

.soft .home__category::after {
    background: linear-gradient(180deg, var(--clr-soft) calc(100% / 3), #fafafa00 calc(100% / 3), #fafafa00 66%, var(--clr-soft) calc(100% / 3));
}

.soft .headline__primary_list li a:after, 
.soft .headline__primary_list li a:before,
.soft .breakNews,  
.soft .breakNews:after, 
.soft .breakNews:before  {
    border-color: var(--clr-soft) !important;
}

/* title materias */
.home__list .home__list__item--default .home__title,
.home__list .home__list__item--default .home__title:hover {
    color: var(--clr-cnn-grey-4);
}

.home__list .home__list__item--default .home__title,
.home__list .home__list__item--first .home__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color:var(--clr-cnn-grey-4);
}

.home__title__label {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
}

/* colors by section - title label */
.cnn .home__title__label,
.cnn a:hover .home__title,
.cnn .breaknews__rm:hover,
.cnn .breakNews .breaknews__title:hover,
.cnn .breakNews .breaknews__title+p:hover {
    color: var(--clr-cnn);
}

.nacional .home__title__label,
.nacional a:hover .home__title,
.nacional .breaknews__rm:hover,
.nacional .breakNews .breaknews__title:hover,
.nacional .breakNews .breaknews__title+p:hover {
    color: var(--clr-nacional);
}

.pop .home__title__label,
.pop a:hover .home__title,
.pop .breaknews__rm:hover,
.pop .breakNews .breaknews__title:hover,
.pop .breakNews .breaknews__title+p:hover {
    color: var(--clr-pop);
}

.entretenimento .home__title__label,
.entretenimento a:hover .home__title,
.entretenimento .breaknews__rm:hover,
.entretenimento .breakNews .breaknews__title:hover,
.entretenimento .breakNews .breaknews__title+p:hover {
    color: var(--clr-entretenimento);
}

.esporte .home__title__label,
.esporte a:hover .home__title,
.esporte .breaknews__rm:hover,
.esporte .breakNews .breaknews__title:hover,
.esporte .breakNews .breaknews__title+p:hover {
    color: var(--clr-esporte);
}

.internacional .home__title__label,
.internacional a:hover .home__title,
.internacional .breaknews__rm:hover,
.internacional .breakNews .breaknews__title:hover,
.internacional .breakNews .breaknews__title+p:hover {
    color: var(--clr-internacional);
}

.business .home__title__label,
.business a:hover .home__title,
.business .breaknews__rm:hover,
.business .breakNews .breaknews__title:hover,
.business .breakNews .breaknews__title+p:hover {
    color: var(--clr-business);
}

.saude .home__title__label,
.saude a:hover .home__title,
.saude .breaknews__rm:hover,
.saude .breakNews .breaknews__title:hover,
.saude .breakNews .breaknews__title+p:hover {
    color: var(--clr-saude);
}

.tecnologia .home__title__label,
.tecnologia a:hover .home__title,
.tecnologia .breaknews__rm:hover,
.tecnologia .breakNews .breaknews__title:hover,
.tecnologia .breakNews .breaknews__title+p:hover {
    color: var(--clr-tecnologia);
}

.estilo .home__title__label,
.estilo a:hover .home__title,
.estilo .breaknews__rm:hover,
.estilo .breakNews .breaknews__title:hover,
.estilo .breakNews .breaknews__title+p:hover {
    color: var(--clr-estilo);
}

.viagem .home__title__label,
.viagem a:hover .home__title,
.viagem .breaknews__rm:hover,
.viagem .breakNews .breaknews__title:hover,
.viagem .breakNews .breaknews__title+p:hover {
    color: var(--clr-viagem);
}

.politica .home__title__label,
.politica a:hover .home__title,
.politica .breaknews__rm:hover,
.politica .breakNews .breaknews__title:hover,
.politica .breakNews .breaknews__title+p:hover {
    color: var(--clr-politica);
}

.soft .home__title__label,
.soft a:hover .home__title,
.soft .breaknews__rm:hover,
.soft .breakNews .breaknews__title:hover,
.soft .breakNews .breaknews__title+p:hover {
    color: var(--clr-soft);
}

section .branded__content a:hover .home__title,
section .branded_content a:hover .home__title {
    color: #CC0000 !important;
}

/* Colunas */
@media (max-width:1024px) {
    .wrapper--sidebar .col--9, .wrapper--sidebar .col--3 {
        width:100%;
    }
}


/* Edit collunts sidebar */
.wrapper--sidebar {
    margin-bottom: 64px;
    border-bottom:1px #D0D0D0 solid;
}

@media (min-width:768px) {
    .wrapper--sidebar-left {
        padding-right: 20px !important;
        padding-top: 49px !important;
    }
}

.wrapper--sidebar-left section > .container {
    padding: 0;
}

@media (min-width:768px) {
    .wrapper--sidebar-right {
        padding-left: 0 !important;
    }
    
    .home .wrapper--sidebar-right {
        position: sticky;
        top: 80px;
        height: fit-content;
    }
}


/* SPLIDE  Arrows */
.section_webstories_default > [class*='container']::before,
.section_videos_home > .container::before {
    content: '';
    position: absolute;
    width: 68px;
    height: 36px;
    right: 16px;
    top: 0;
    background-color: #FAFAFA;
}

.section_webstories_default .splide__arrows,
.section_videos_home .splide__arrows,
.soft__sidebar .splide__arrows {
    position: absolute;
    top: 0;
    right: 16px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    height: 36px;
    background-color: #fafafa;
    padding-left: 10px;
    z-index: 10;
}

.section_webstories_default .splide__arrow,
.section_videos_home .splide__arrow, 
.soft__sidebar .splide__arrow {
    width: 24px;
    height: 24px;
    padding: 0;
    border: none;
    background-color: var(--clr-cnn-grey-4);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.section_webstories_default .splide__arrow::after,
.section_videos_home .splide__arrow::after,
.soft__sidebar .splide__arrow::after {
    content: '';
    width: 16px;
    height: 16px;
    display: block;
    background: url(../img/arrow.svg) no-repeat center center;
    margin-left: 2px;
}

.section_webstories_default .splide__arrow--prev::after,
.section_videos_home .splide__arrow--prev::after,
.soft__sidebar .splide__arrow--prev::after {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    margin-left: -2px;
}

.section_webstories_default .splide__arrow svg,
.section_videos_home .splide__arrow svg,
.soft__sidebar .splide__arrow svg {
    display: none;
}

@media (max-width: 700px) {
    .section_webstories_default .splide__arrows,
    .section_webstories_default > .container::before,
    .section_videos_home .splide__arrows,
    .section_videos_home > .container::before {
        display: none;
    }
}

#iframestories {
    display: table;
    overflow: hidden;
    border: 0px;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999999998;
    top: 0%;
    background-color: transparent;
}

.navclose {
    display: block;
    height: 40px;
    width: 40px;
    color: #fff;
    padding: 6px;
    font-family: Arial;
    font-size: 20px;
    font-weight: normal;
    cursor: pointer;
    position: fixed;
    right: 10px;
    margin-left: 5px;
    top: 10px;
    z-index: 999999999;
}

@media (max-width:991px) {
    .navclose {
        right:auto;
        left:0;
    }
}

span.video::before,
span.video::after {
    border-radius: 4px;
}



/******* SETAS HOME BLOCOS ********/


.sidebar__subhomes .soft__sidebar .splide__arrows {
	width: 23%;
}

.block_analysts--default .block_analysts__splide .splide__arrow--prev {
	left: initial;
	right: 45px;
}

.section_videos_home .splide__arrow--prev,
.section_webstories_default .splide__arrow--prev,
.sidebar__subhomes .soft__sidebar .splide__arrow--prev {
    left: initial;
    right: 35px;
}

.section_videos_home .splide__arrow--next,
.section_webstories_default .splide__arrow--next,
.sidebar__subhomes .soft__sidebar .splide__arrow--next {
    left: initial;
    right: 5px;
}