.popular__tags .widget__title {
    border: none;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #262626;
    margin-top: 46px;
}

.popular__tags img {
    margin-right: 8px;
    vertical-align: sub;
}

.tags__list {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.tag__item {
    display: inline-block;
    margin-right: 8px;
    margin-bottom: 8px;
}

.tag__link {
    color: #4D4D4D;
    font-size: 13px;
    padding: 1px 8px;
    line-height: 16px;
    background: transparent;
    display: inline-block;
    border: 1px solid #4D4D4D;
    border-radius: 4px;
}

.tag__link:hover {
    color: #A81D1D;
    border-color: #A81D1D;
    background: transparent;
}
@media (max-width: 991px) {
    .popular__tags.sidebar__widget {
        margin: 0 24px;
        display: flex;
        flex-wrap: wrap;
    }

    .popular__tags .widget__title { 
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;
    }
 
}
